@charset "UTF-8";

* {
	text-decoration: none;
	color : #000;
}

.text_link {
	color:blue;
}

a:hover {
	color:blue;
	text-decoration: none;
}

/*  Check  List searchBar */
#searchBar {
   color:DimGray ; font-family:돋움; font-size:16px;
   float: left;
}